.pagina-obras{
    padding: 60px 50px;
    text-align: center;
}
.pagina-obras h1 {
    margin-bottom: 30px;
    font-size: 32px;
}
.galeria-obras {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 40px;
    align-items: start;
}